// _variables.scss

$main-color-pink: rgb(37, 117, 252);
$black: black;
$white: white;
$dark-blue: #2C3E50;
$section-padding: 80px 0px;

// rgb(116, 248, 116)

/*
$main-color-pink: #f7444e;
$black: black;
$white: white;
$dark-blue: #002c3e;


// chat
$main-color-pink: #ff6b81;
$black: #1c1c1e;
$white: #f4f4f4;
$dark-blue: #1e3a5f;
*/